.accessoires {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accessoires h1 {
    padding-bottom: 20px;
}
.accessoireImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: lightblue gray;
    scrollbar-width: auto;
}

.textAccessoire p {
    text-align: center;
    font-size: var(--police-Karla-Regular);
    padding-top: 20px;
}


