.boutique {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgDivElement {
    position: relative;
    width: 150px;
    height: 150px;
}
.imgCreation {
    width: 100%;
    max-width: 100%; 
    height: 100%; 
    object-fit: fill;
}
.creationImgDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.infoDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/imgHover.jpg") center / cover;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.imgDivElement:hover .infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#allCreation {
    background: lightblue;
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: var(--police-Karla-Regular);
    font-weight: 300;
}
#recherche {
    background: lightblue;
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: var(--police-Karla-Regular);
    font-weight: 300;
}
#rechercherProduits{
    padding: 5px 10px;
}
#btnSuite {
    background: lightblue;
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: var(--police-Karla-Regular);
    font-weight: 300;
}
.creationContainer {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.apparitionCreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.infoDiv p {
    font-size: 0.8em;
    font-family: var(--police-Karla-Regular);
    text-transform: capitalize;
}
.description {
    background: lightblue;
    font-size: 0.8em;
    color: black;
    font-family: var(--police-Karla-Regular);
    padding: 2px 5px;
    cursor: pointer;
}