.boutique {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styliser les images de la boutique */
.apparitionCreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.imgDivElement {
    position: relative;
    width: 150px;
    height: 150px;
}
.imgCreation {
    width: 100%;
    max-width: 100%; 
    height: 100%; 
    object-fit: fill;
}
.creationImgDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.infoDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/imgHover.jpg") center / cover;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.imgDivElement:hover .infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* select de la boutique */
#allCreation {
    background: lightblue;
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: var(--police-Karla-Regular);
    font-weight: 300;
}

/*  bouton recherche et input texte */
.creationContainerInput {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.creationInputRecherche {
    display: flex;
    gap: 10px;
}
#recherche {
    display: inline-block;
    background: rgb(247, 253, 255);
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: var(--police-Karla-Regular);
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    border: 4px double rgb(123, 186, 207);;
    text-align: center;
    transition: all 0.5s;
    margin: 5px;
}


#recherche span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #recherche span:after {
    content: "\00bb";
    color: black;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  #recherche:hover {
    color: black;
    background-color: lightblue;
    border: 4px double rgb(123, 186, 207);
  }
  #recherche:hover span {
    padding-right: 15px;
  }
  #recherche:hover span:after {
    opacity: 1;
    right: 0;
  }

#rechercherProduits{
    padding: 3px 20px;
    width: 200px;
}

/* info du bouton description */
.infoDiv p {
    font-size: 0.6em;
    font-family: var(--police-Karla-Regular);
    text-transform: capitalize;
}

/* bouton lire suite */
#btnSuite {
    background: lightblue;
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: var(--police-Karla-Regular);
    font-weight: 300;
    cursor: pointer;
}