*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --title-color: rgb(87, 61, 61);
    --secondary-color: rgb(248, 243, 243);
    --title-size: 2rem;
    --text-size: 1em;
    --police-Karla-Bold: "Karla-Bold";
    --police-Karla-Regular: "Karla-Regular";
    --police-ballet : "Ballet";
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Karla-Bold";
    src: url("../font/Karla-Bold.ttf");
}
@font-face {
    font-family: "Karla-Regular";
    src: url("../font/Karla-Regular.ttf");
}
@font-face {
    font-family: "Ballet";
    src: url("../font/Ballet-Regular-VariableFont_opsz.ttf");
}

body {
    /* display: grid;
    grid-template-rows: 100dvh 50vh 100vh 100vh 40vh 100vh;
    height: 420vh;
    width: 100%; */
    overflow-x: hidden;
}
h1 {
    font-family: var(--police-ballet);
    font-size: var(--title-size);
    color: var(--title-color);
    text-transform: capitalize;
}
.separationPage {
    background: url("../img/separationImg.jpg") center / contain no-repeat;
    height: 100px;
    width: 100%;
    margin-top: 30px;
}

.btnAjoutPanier {
    background: lightblue;
    font-size: 0.6em;
    color: black;
    font-family: var(--police-Karla-Regular);
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 0.5em;
}


/* Parti compte */

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    justify-content: center;
}

.formulaire {
    width: calc(50% - 10px); 
    margin: 5px; 
}

.formColumn form {
    margin: 20px;
}

.formConnection,
.formEnregistrement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formConnection input,
.formConnection label,
.formEnregistrement input,
.formEnregistrement label {
    margin-bottom: 30px; /* Adjust the margin value as needed */
}


/*
==================
Parti gestion Panier
==================
*/
#allContentPanier {
    max-width: 800px;
    margin: 0 auto;
}

.titlePanier {
    text-align: center;
}

#votrePanier {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
}

.colonneSupprimer, .colonneProduit, .colonnePrix, .colonneQuantité {
    font-weight: bold;
}
.colonne {
    text-align: center;
}
.colonneDuProduit {
    text-align: center;
}
.boutonSupprimer button {
    background-color: lightblue;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.boutonSupprimer button:hover {
    background-color: rgb(0, 68, 90);
}
.imgPanier {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.btnBoutiqueFromPanier {
    display: block;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    color: white;
    text-decoration: none;
}

.btnBoutiqueFromPanier:hover {
    background-color: rgb(0, 68, 90)
}
.nom p {
    text-transform: capitalize;
}