
/* animation */
@keyframes leaveAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20%);
    }
}

/* header */
header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
}
.imgHeader {
    position: absolute;
    top: 0;
    background: url("../img/lecomptoirPoetique.jpg") center / contain no-repeat,
    url("../img/petitsAnimaux.jpg") center / cover no-repeat;
    width: 100%;
    height: 100px;
    /* padding: 20px; */
}
/* 
-------------------------
    Nav barre
---------------------------
*/
.barreNavDisplay {
    display: none;
}
.barreNav {
    opacity: 0;
    transform: translateY(-20%);
    transition: visibility 0.2s, opacity 1s ease-in-out, transform 1s ease-in-out;
}

.barreNav.active {
    opacity: 1;
    transform: translateY(0);
}
.barreNav.leave {
    animation: leaveAnimation 1s ease-in-out; /* Animation lors de la disparition */
}

.barreNav ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: lightblue;
    padding: 30px;
    gap: 20px;
    margin-top: 50px;
}

.barreNav ul li {
    list-style: none;
    text-align: center;
}
.barreNav li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    position: relative;
    transition: 0.15s ease-in-out;
    text-transform: uppercase;
}
.barreNav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: white;
    transition: 0.15s ease-in-out;
}
.barreNav li a:hover::after {width: 100%;}

.close-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    top: 5px;
    right: 10px;
}
.open-menu {
    align-self: flex-end;
    margin: 20px 20px 0 0;
    color: white;
    cursor: pointer;
    background: lightblue;
    padding: 5px 10px;
    border-radius: 0.2em;
    font-size: 2rem;
}
#check {
    display: none;
    color: black;
}
#check:checked ~ .barreNav {right: 0;}
/* 
-------------------------
    Accueil
---------------------------
*/

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.accueil h1 {
    font-family: var(--police-Karla-Bold);
}
.accueil p {
    text-align: center;
    margin: 20px;
    font-size: var(--text-size);
    font-family: var(--police-Karla-Regular);
    margin-bottom: 60px;
}


/* slider */
.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    position: relative;
    margin: auto;
}
.dot {
    background: lightblue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    margin: 10px;
    box-shadow: 4px 1px 2px black;
    cursor: pointer;
}
.dot:active {
    box-shadow: 2px 1px 5px black;
}



.divDot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carrousel-container .slider-image {
    width: 250px;
    height: 250px;
}
.carrousel-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.previous,
.next {
    cursor: pointer;
    position: absolute;
    margin: 5px;
    top: 40%;
    width: 30px; /* Set a fixed width */
    height: 30px; /* Set a fixed height */
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    border-radius: 50%;
    transition: 0.8s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next {
    right: 0;
}
.previous {
    left: 0;
}
.previous:hover,
.next:hover { 
    background-color: grey;
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

