header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
}
.imgHeader {
    position: absolute;
    top: 0;
    background: url("../img/lecomptoirPoetique.jpg") center / contain no-repeat,
    url("../img/petitsAnimaux.jpg") center / cover no-repeat;
    width: 100%;
    height: 100px;
    /* padding: 20px; */
}
/* 
-------------------------
    Nav barre
---------------------------
*/
.barreNavDisplay {
    display: none;
}
.barreNav {
    opacity: 0;
    transform: scale(0.8); /* pour simuler l'apparition */
    transition: visibility 0s, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.barreNav.active {
    opacity: 1;
    transform: scale(1);
}
.barreNav ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: lightblue;
    padding: 30px;
    gap: 20px;
}

.barreNav ul li {
    list-style: none;
    text-align: center;
}
.barreNav li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    position: relative;
    transition: 0.15s ease-in-out;
    text-transform: uppercase;
}
.barreNav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: white;
    transition: 0.15s ease-in-out;
}
.barreNav li a:hover::after {width: 100%;}

.close-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    top: 5px;
    right: 10px;
}
.open-menu {
    align-self: flex-end;
    margin: 20px 20px 0 0;
    color: white;
    cursor: pointer;
    background: lightblue;
    padding: 5px 10px;
    border-radius: 0.2em;
    font-size: 2rem;
}
#check {
    display: none;
    color: black;
}
#check:checked ~ .barreNav {right: 0;}
/* 
-------------------------
    Accueil
---------------------------
*/

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.accueil h1 {
    font-family: var(--police-Karla-Bold);
}
.accueil p {
    text-align: center;
    margin: 20px;
    font-size: var(--text-size);
    font-family: var(--police-Karla-Regular);
}


/* slider */
.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    position: relative;
    margin: auto;
}
.dot {
    background: lightblue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    left: 9%;
    margin: 10px;
    box-shadow: 4px 1px 2px black;
    cursor: pointer;
}
.carrousel-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}
.next {
    right: 0;
}
.previous {
    left: 0;
}

