.patrons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 1er Container principal des images des patrons */
.patronContainer {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}
/* container contenant les images des patrons */
.patronImgContainer {
    position: relative;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 50s linear infinite ;
}
.imgPatron {
    position: absolute;
    width: 30vw;
    height: 30vw;
}
.patronBorder {
    border-radius: 50%;
    animation: rotationPatron 80s linear infinite;
}
/* On effectue une rotation autour du centre de notre imgPatron puis une translation déplaçant notre image de 100% de sa propre largeur vers la droite (dans le sens de l'axe x) et enfin une rotation de 45deg de notre image */
.imgCercle0 {
    transform: rotate(45deg) translate(100%) rotate(-85deg);
}

.imgCercle1 {
    transform: rotate(135deg) translate(100%) rotate(-185deg);
}

.imgCercle2 {
    transform: rotate(-135deg) translate(100%) rotate(105deg);
}

.imgCercle3 {
    transform: rotate(-45deg) translate(100%) rotate(0deg);
}
.patrons p {
    text-align: center;
    font-size: var(--text-size);
    font-family: var(--police-Karla-Regular);
    padding: 20px;
}
.btnPatrons {
    position: relative;
    background: lightblue;
    top: -5px;
    font-size: 0.8em;
    color: black;
    font-family: var(--police-Karla-Regular);
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgb(179, 154, 154);
    border-radius: 0.5em;
    box-shadow: 7px 7px 5px black;
    margin: 20px;
}
.btnPatrons:active {
    top: 0;
    box-shadow: 5px 5px 5px 0px black;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationPatron {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Css pour la page patron html */
.imgPatronContainerPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}