.projets {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgProjetNouveautés {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.imgNewDiv {
    position: relative;
    width: 150px;
    height: 150px;
}
.imgCreationNew {
    width: 100%;
    max-width: 100%; 
    height: 100%; 
    object-fit: fill;
}

.infoDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/imgHover.jpg") center / cover;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.imgNewDiv:hover .infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.descriptionDiv {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    text-align: center;
    color: white;
    font-family: var(--police-Karla-Regular);
}

.descriptionBtn {
    background: lightblue;
    font-size: 0.6em;
    color: black;
    font-family: var(--police-Karla-Regular);
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 0.5em;
}

.descriptionBtnClose {
    border: none;
    background: white;
    cursor: pointer;
}
.descriptionDiv i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
}
.fa-solid {
    color: white;
}
