/* @media screen and (min-width: 600px) { */
    header {
        padding-top: 130px;
    }
    .imgHeader {
        height: 150px;
    }
    .barreNav {
        width: 100%;
        align-items: center;
        min-height: 100px;
    }
    .barreNav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 
    .imgPatron {
        height: 200px;
        width: 200px;
    }
    .patrons {
        height: 100%;
    }
    .patronContainer {
        width: 0;
    }
    .patronImgContainer {
        height: 600px;
    }
    .imgDivElement, .imgNewDiv {
        height: 250px;
        width: 250px;
    }
    
    .btnAjoutPanier {
        font-size: 0.8em;
    }

    .descriptionBtn {
        font-size: 0.8em;
    }
    .infoDiv p {
        font-size: 0.8em;
    }
/* } */