/* @media screen and (min-width: 600px) { */
    header {
        padding-top: 130px;
    }
    .imgHeader {
        height: 150px;
    }
    .barreNav {
        width: 100%;
        align-items: center;
        min-height: 100px;
    }
    .barreNav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 
/* } */